<div class="humburger">
  <div class="toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="hum_nav">
    <ul>
      <li><%= link_to "SALES", :root %></li>
      <li><%= link_to "TAKES", :takes %></li>
      <li><%= link_to "伝票別売上", "#sale_price_chart" %></li>
      <li><%= link_to "日別売上", "#date_price_chart" %></li>
      <li><%= link_to "時間帯別売上", "#time_price_chart" %></li>
      <li><%= link_to "座席別売上", "#table_price_chart" %></li>
    </ul>
  </nav>
</div>
