<div align="center">

<h1>伝票情報の詳細</h1>
  
<p><%= link_to "SALES", :sales %></p>

<table>
  <tr>
    <th>伝票番号：</th>
    <td align="center">No.<%= @sale.id %></td>
  </tr>
  <tr>
    <th>座席：</th>
    <td align="center"><%= @sale.seat.name %>卓</td>
  </tr>
  <tr>
    <th>日付：</th>
    <td align="center"><%= @sale.date.strftime("%Y年%m月%d日 %H時台") %></td>
  </tr>
  <tr>
    <th>人数：</th>
    <td align="center"><%= @sale.visitor %>名</td>
  </tr>
</table>

<div style="margin: 60px;">
<h3>注文データ</h3>
<h5><%= link_to "注文追加", :new_take %></h5>
<% if @takes.present? %>
  <table>
    <tr>
      <th width="100px">伝票番号</th>
      <th width="100px">注文番号</th>
      <th width="200px">メニュー名</th>
      <th width="100px">個数</th>
    </tr>
    <% @takes.each do |take| %>
      <tr>
        <td align="center">No.<%= take.sale_id %></td>
        <td align="center"No.><%= link_to take.id, take %></td>
        <td align="center"><%= take.menu.name %></td>
        <td align="center"><%= take.number %>個</td>
        <td><%= link_to "編集", [:edit, take] %> |
            <%= link_to "削除", take, method: :delete, data: {confirm:"本当に削>除しますか?"} %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5>注文情報がありません。</h5>
<% end %>
</div>

</div>
